<h1>Questions#answer</h1>
<p>question is: <%= @question %></p>
<p>answer is: <%= @answer %></p>

<%= link_to 'Ask a new question', 'http://localhost:3000/ask' %>







<!-- link_to "Profile", @profile
# => <a href="/profiles/1">Profile</a>
 -->
