<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<p>question is: <%= @question %></p>
<p>answer is: <%= @answer %></p>

<form action=answer>
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>


<!--
<form action=answer>
<form action=http://localhost:3000/answer>

  <input type="text" name="question">
  http://localhost:3000/answer?question=
 -->
